.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
   max-width: 400px;
    padding: 50px 0;
    /* height: 50px; */
}

/* .col-2{
  max-width:100px;
    height: 50px;
} */

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
     background: #563434;
}

.header{
    background: radial-gradient(#fff,#ffd6d6);
    font-family: 'Poppins' , sans-serif;
}
.header .row{
    margin-top: 70px;
}
@media only screen and (max-width: 600px){
    .row{
        text-align:center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}