
.sidebar-first{
    height: 768px;
}
.my_nav{
    margin-top: 10px;
    margin-left: 20px;
}

.main{
    background-color: #E0E0E0;
    padding-top: 100px;
}
#linkk{
    text-decoration: none;
    
}

